.container {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  /* Otros estilos que ya tienes... */
}
.buttonsContainer {
  display: flex;
  flex-direction:row-reverse;
  gap: 10px; 
}

.button {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #0c018271;
    color: aliceblue;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    overflow: hidden;
}

  .button:hover{
    color: rgb(16, 83, 183);
  }

  .button span{
    position: absolute;
    background: whitesmoke;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

  .button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
  }
  .button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
  }

  .button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
  }

  
  .button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
  }

  .button:hover span:nth-child(1){
    left: 0;

  }
  
  .button:hover span:nth-child(2){
    right: 0;

  }
  
  .button:hover span:nth-child(3){
    bottom: 0;

  }
  
  .button:hover span:nth-child(4){
    top: 0;
  }